.content {
	padding: 50px 50px;
	text-align: center;
}

table tr td, table tr th{
	padding:40px;
	text-align: left;
}

.kitchen tr td, table tr th, .table{
	border-collapse: collapse;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	margin:5px;
	text-align: center;
	position: relative;
}

tr.kitchenItemStrike td:before{
	content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.disabledTable {
    color: #ccc;
    pointer-events:none;

}