.content {
	padding: 50px 50px;
	text-align: center;
}

table tr td, table tr th{
	padding:10px;
	text-align: left;
}

.kitchen tr td, table tr th{
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	margin:5px;
	text-align: center;
}

.