.content {

	padding: 50px 3%;
	text-align: center;
	overflow-x: hidden;
}

table{

	min-width: 320px;
    margin-left:auto; 
    margin-right:auto;
}

table tr td, table tr th {

	padding: 5px;
}

.restaurantTable{

	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding: 2px;
	margin: 2px;
	height:30px;
}

.disabledTable {

    color: #ccc;
    pointer-events:none;
}

.kitchen tr td{

	position: relative;
 }

tr.kitchenItemStrike td:before{

	content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}


.quantity{

	width:50px;
}

#addItemForm{
	text-align: left !important;
}

body{
	background-image: url("/images/greyzz_@2X.png");
}