<h2>{{title}}</h2>

<div id="tables">

	<div class="row">
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(1)"><div class="restaurantTable">Table 1</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(2)"><div class="restaurantTable">Table 2</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(3)"><div class="restaurantTable">Table 3</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(4)"><div class="restaurantTable">Table 4</div></a></div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(5)"><div class="restaurantTable">Table 5</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(6)"><div class="restaurantTable">Table 6</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(7)"><div class="restaurantTable">Table 7</div></a></div>
		<div class="col-xs-6 col-sm-3"><a ng-click="selectTable(8)"><div class="restaurantTable">Table 8</div></a></div>
	</div>

</div><!-- end -->

 <br><br>
 <div id="Table" ng-if="tableOrdersShow" >
 	<div ng-if="tableOrders.length<1 && aTableIsSelected">No outstanding orders for this table</div>
 <div ng-repeat="order in tableOrders">
 
 <table ng-if = "!order.paid" class="table-bordered">
 
 <tr>
 <th> ID </th>
 <th> Name </th>
 <th> Price (each)</th>
 <th> Quantity </th>
 <th> Price </th>
 </tr>
 <tr ng-repeat="item in order.items">
 <td>{{ item.item.id }}</td>
 <td>{{ item.item.name }}</td>
 <td>£{{ item.item.price.toFixed(2) }}</td>
 <td>{{ item.quantity }}</td>
 <td>£{{ item.item.price*item.quantity }}</td>
 
 </tr>
 
 <tr> <td colspan=4> <button ng-click="payNow(order)"> Pay Now</button> </td>
 <td> Total Price: £{{totalPrice(order)}}</td>
 </tr>
 </table>
 </div>
 <br><br>
 

 

 