<h2>Kitchen</h2>
<div id="kitchenDiv">
	<h3>Number of orders: {{noOfOrders}}</h3>
	<div id="kitchenDiv2" style="margin: auto;width: 80%;">
		<div id="orders">
			<h3>Orders</h3>
			<div ng-repeat="order in allOrders">
				<table class="kitchen table-bordered" ng-if="!order.kitchenComplete">
					<tr><th colspan=4 style="text-align:center">Table {{ order.tableNumber }} Order</th></tr>
					<tr><td colspan=4>Wait Time: <strong>{{waitTime(order.placed)}}</strong> </td></tr>
					<tr><th>ID</th><th>Name</th><th>Quantity</th><th></th></tr>
					<tr id="{{order._id}}/{{item.item.id}}" class="" ng-repeat="item in order.items">
						<td>{{ item.item.id }}</td>
						<td>{{ item.item.name }} </td>
						<td>{{ item.quantity }}</td>
						<td><button id="{{order._id}}/{{item.item.id}}btn" ng-click="strikeItemFromOrder(order._id +'/'+item.item.id,item.quantity)">Ready</button></td>
					</tr>
					<tr><td colspan=4><button ng-click="orderComplete(order)">Order Complete</button></td><tr>
				</table>
				<br/>
			</div>
		</div>
		<div id="items" style="float:left; margin-top:20px; margin-left: 30px">
			<h3>Items</h3>
			<table class="kitchen table-bordered">
				<tr><th>ID</th><th>Name</th><th>Quantity</th></tr>
				<tr ng-repeat="item in allItems">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.quantity}}</td>
			</table>
		</div>
	</div>
</div><!-- end kitchenDiv-->


