<h2>Kitchen</h2>
<div id="kitchenDiv">
	<h3>Number of orders: {{noOfOrders}}</h3>
	<div id="orders">
		<div ng-repeat="order in allOrders">
			<table class="kitchen" ng-if="!order.kitchenComplete">
				<tr><th colspan=4>Table {{ order.tableNumber }} Order</th></tr>
				<tr><td colspan=4>Wait Time: <strong>{{waitTime(order.placed)}}</strong> </td><input</tr>
				<tr><th>ID</th><th>Name</th><th>Quantity</th><th></th></tr>
				<tr id="{{order._id}}/{{order.items.indexOf(item)}}" class="" ng-repeat="item in order.items">
					<td>{{ item.item.id }}</td>
					<td>{{ item.item.name }} </td>
					<td>{{ item.quantity }}</td>
					<td><button id="{{order._id}}/{{order.items.indexOf(item)}}btn" ng-click="strikeItemFromOrder(order._id +'/'+order.items.indexOf(item))">Ready</button></td>
				</tr>
				<tr><td colspan=4><button ng-click="orderComplete(order)">Order Complete</button></td><tr>
			</table>
			<br/>
		</div>
	</div>
</div><!-- end kitchenDiv-->


