<nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">Menu
        </button>
        <a class="navbar-brand" href="/">Restaurant Order System</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

            <li><a href="/waiter" role="button">Waiter</a></li>
            <li><a href="/kitchen" role="button">Kitchen</a></li>
            <li><a href="/counter" role="button">Counter</a></li>
            <li><a href="/admin" role="button">Admin</a></li>

        </ul>
    </div>

</nav>